.productCard {
  width: 18.75rem;
  height: 21.625rem;

  border: 2px solid var(--color-grey);
  border-radius: 5px;

  .imgBox {
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;

    background-color: var(--color-background);

    & > img {
      max-height: 100%;
    }
  }

  .textBox {
    max-height: 12.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;

    button {
      width: 6.625rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: var(--color-grey);

      font-size: 0.875rem;
      font-weight: 600;
      color: var(--color-white);
    }
  }
}

.productCard:hover {
  border: 2px solid var(--color-green);

  button {
    background-color: var(--color-green);
  }
}
