:root {
  --color-green: #27ae60;
  --color-grey: #bdbdbd;
  --color-white: #ffffff;

  --color-border: #e0e0e0;

  --color-background: #f5f5f5;

  --color-title: #333333;
  --color-paragraph: #828282;
}

body {
  font-family: "Inter", sans-serif;
}
