* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  font-family: inherit;
}

img {
  max-width: 100%;
}
