.modalOverlay {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  inset: 0;

  width: 100%;
  height: 100vh;
  background: #00000040;

  .modalBox {
    width: clamp(24.8125rem, 5vw, 30.25rem);
    background-color: var(--color-white);
    border-radius: 8px;
    margin-inline: 0.5rem;

    .modalHeader {
      height: 3.5625rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 0.875rem;

      background-color: var(--color-green);
      border-radius: 8px 8px 0 0;

      & > button {
        color: var(--color-white);
      }
    }

    .modalFooter {
      height: 7.5625rem;
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      margin-inline: 0.875rem;
      padding-top: 0.875rem;
      gap: 0.875rem;

      border-top: 2px solid var(--color-border);

      & > div:first-child {
        display: flex;
        justify-content: space-between;
      }

      & > button {
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        background-color: var(--color-grey);

        font-size: 1rem;
        font-weight: 600;
        color: var(--color-white);

        &:hover {
          background-color: var(--color-green);
        }
      }
    }
  }
}
