.productSection {
  margin-top: 1.375rem;
  overflow-y: scroll;
  .listBox {
    max-height: 100%;
    display: flex;

    gap: 1.25rem;
  }
  @media (min-width: 780px) {
    overflow-y: hidden;
    .listBox {
      max-width: 100vw;
      flex-wrap: wrap;
    }
  }
}
